<label>
  <span>Deck Name:</span>
  <input ng-model="deckName" class="deck-name" type="text">
</label></br>

<label>
  <span>Choose A Class:</span>
  <select ng-model="deckType" ng-change="updateDeckType()" class="hero-type">
    <option value="druid">Druid</option>
    <option value="hunter">Hunter</option>
    <option value="mage">Mage</option>
    <option value="paladin">Paladin</option>
    <option value="priest">Priest</option>
    <option value="rogue">Rogue</option>
    <option value="shaman">Shaman</option>
    <option value="warlock">Warlock</option>
    <option value="warrior">Warrior</option>
  </select>
</label>

<ul class="deck-list">
  <li ng-repeat="item in data.decklistCards track by $index" item="item">
    <button class="remove" ng-click="removeFromDeck($index)">-</button>
    {{item.cost}} - {{item.name}}
  </li>
</ul>
