<label>
  <span>Enter Search Term:</span>
  <input class="search-term" type="text">
</label>
<label>
  <span>Search By:</span>
  <select class="search-type">
    <option value="search" selected>Card Name</option>
    <option value="types">Card Type</option>
    <option value="qualities">Card Quality</option>
    <option value="races">Card Archetype</option>
    <option value="classes">Hero Class</option>
    <option value="sets">Card Set</option>
  </select>
</label>
<SearchResults></SearchResults>
